---
layout: page
title: 블로그
---

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <label class="btn btn-sm btn-primary active">
          <input
            type="radio"
            name="shuffle-filter"
            value="all"
            checked="checked"
            class="position-absolute invisible" />
          전체
        </label>
        {% for tag in site.data.settings.blog-tags %}
        <label class="btn btn-sm btn-primary">
          <input
            type="radio"
            name="shuffle-filter"
            value="{{ tag.type }}"
            class="position-absolute invisible" />
          {{ tag.title }}
        </label>
        {% endfor %}
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for post in site.posts %}
      <div
        class="col-xl-4 col-lg-6 col-md-12 mb-4 shuffle-item"
        data-groups='[{% for tag in post.tags %}{% if forloop.first == true %}{% else %},{% endif %}"{{ tag }}"{% endfor %}]'>
        {% include post.html %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->

<!-- clients -->
<!-- <section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">My Clients</h2>
      </div>
    </div>
    {% include client-slider.html %}
  </div>
</section> -->
<!-- /clients -->
