<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">블로그</h2>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for post in site.posts offset:0 limit:3 %}
      <div
        class="col-xl-4 col-lg-6 col-md-12 shuffle-item"
        data-groups='[{% for tag in post.tags %}{% if forloop.first == true %}{% else %},{% endif %}"{{ tag }}"{% endfor %}]'>
        {% include post.html %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->
